**Convert and print this value in meters and centimeters.**

In [1]:
m=int(input())   
cm  = 1000* m;
cm1  = 100000* m; 
print(cm)
print(cm1)

2
2000
200000

**Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.**

In [2]:
import math
a=int(input())
area=(math.sqrt(3)* a * a)/4
print(round(area,2))

20
173.21

**Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".**

In [3]:
num = int(input())
mod = num % 2
if mod > 0:
    print("Odd")
else:
    print("Even")

2
Even

**Print the First 3 multiples of the number with single spaces between them as an output.**

In [4]:
n = int(input())
print(n, n * 2, n * 3)

2
2 4 6

**Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.**

In [5]:
import math
radius=float(input())
circumference= 2 * math.pi * radius
print(round(circumference,2))

2
12.57

**Find the Simple interest and print it up to two decimal places. Round off if required.**

In [6]:
P, R, T = map(int, input().split())
SI= (P * R * T)/1000
print(round(SI))

1000 2 5
10

**A number is provided in Celcius as the input of the program. The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.**

In [7]:
celsius = float(input())
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

12
53.6

**Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.**

In [8]:
month = int(input())

if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
	print("31")
elif(month == 2):
	print("28")
elif(month == 4 or month == 6 or month == 9 or month == 11):
    print("30")
else:
	print("Error")

8
31

**Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.**

In [9]:
l=int(input())
b=int(input())   
area=l*b
print(area)

2
3
6

**Find and print the largest among the three**

In [10]:
a = int(input())
b = int(input())
c = int(input())
if(a>b and a>c):
	print(a)
elif(b>a and b>c):
	print(b)
else:
	print(c)

1
2
3
3

**Print "Y" if its a leap year and "N" if its a common year.**

In [11]:
year = int(input())

if (year % 4) == 0: 
	print("Y")
else:
	print("N")

2020
Y

**Print the two values of X after rounding off to 2 decimal places if required.**

In [12]:
from math import sqrt

a, b, c = map(int, input().split())
r = b**2 - 4*a*c
x1 = (((-b) + sqrt(r))/(2*a))     
x2 = (((-b) - sqrt(r))/(2*a))
print("{:.2f}".format(float(x1)))
print("{:.2f}".format(float(x2)))

1 5 6
-2.00
-3.00

**Print the table of nine with single space between the elements till the number that is input.**

In [13]:
N = int(input())
if(N>0):
    for i in range(1,N+1):
        print((9*i),end=" ")
else:
    print("NULL")

9
9 18 27 36 45 54 63 72 81

**Print the values from 1 to N in a separate line.**

In [14]:
n = int(input())
 
for i in range(1, n + 1):
    print (i)

5
1
2
3
4
5

**You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......**

In [15]:
a = int(input())

print( a*a )

18
324

**Print the even values from 1 to N in a separate line.**

In [16]:
num = int(input())
 
for number in range(1, num + 1):
    if(number % 2 == 0):
        print(format(number))

6
2
4
6

**Print the values from N to 1 in a separate line.**

In [17]:
a=int(input())
for i in range(a, 0, -1):
        print(i);

10
10
9
8
7
6
5
4
3
2
1

**Print the sum of the digits of the integer.**

In [18]:
def getSum(n): 
      
    strr = str(n)
    list_of_number = list(map(int, strr.strip()))
    return sum(list_of_number)
    
n = int(input())
print(getSum(n))

124
7

**Find the sum of the two numbers (A + B)**

In [19]:
A=int(input())
B=int(input())
C=A+B
print(C)

1
1
2

**Print the integer A, N times in a separate line.**

In [20]:
a,n = map(int, input().split())

for _ in range(n):
    print(a)

2 3
2
2
2

**Print the reversed string.**

In [21]:
a=input()
leng=len(a) 
op=a[leng::-1]
print (op)

GUVI
IVUG

**Print the digits of the integer in a single line separated by space,**

In [22]:
a=input()

print(' '.join(map(str,a)))

348
3 4 8

**Print the even and odd integers of the integer in a separate line.**

In [23]:
def evenOdd(numbers):
    even = []
    odd = []
    for number in numbers:
        if int(number) % 2 == 0:
            even.append(number)
        else:
            odd.append(number)
    return even, odd
if __name__ == '__main__':
    userInput = input()
    even, odd = evenOdd(userInput)
    print(' '.join(sorted(even)))
    print(' '.join(sorted(odd)))

1234
2 4
1 3

**Remove all the whitespaces and then print the length of the remaining string.**

In [24]:
a = input()
a = a.replace(" ","") 
print(len(a))

Loren Ipsum
10

**Print the HCF of the integers**

In [25]:
def hcfnaive(a,b):
    if(b==0):
        return a
    else:
        return hcfnaive(b,a%b)
num1,num2 = map(int, input().split())
print(hcfnaive(num1, num2))

2 3
1

**Find the cube of the number.**

In [28]:
a=int(input())
print(a*a*a)

2
8

**Print the factorial of the integer.**

In [29]:
num = int(input())    
factorial = 1    
for i in range(1,num + 1):    
    factorial = factorial*i    
print(factorial)

2
2

**Print the small number out of the two numbers.**

In [30]:
def minimum(a, b):
      
    if a <= b:
        return a
    else:
        return b
      
# Driver code
a,b = input().split()
print(minimum(a, b))

23 1
1

**Print the sum of values from 1 to N.**

In [ ]:
while True:
  output = ""
  num = int(input())

  if num == 0:
    exit()

  for i in range(1, num+1):
   
    output=format(sum(range(num+1)))
  print (output)

10
55