**Print the characters in a string separated by comma.**

In [1]:
a=input()
print(','.join(map(str,a)))

guvi
g,u,v,i

**Print the integer value**

In [2]:
a = input()
print(a)

2
2

**Print the integer list of integers separated by space**

In [3]:
l=input()
print(''.join(map(str,l)))

2 3 4 5 6 7 8
2 3 4 5 6 7 8

**Print the taken input in the same format.**

In [4]:
a=input()
print(''.join(map(str,a)))
b=input()
print(''.join(map(str,b)))

5 3 1 2 3 4 5
5 3 1 2 3 4 5
12345
12345

**Print the integers in a single line separate by space**

In [5]:
x = input()
y = input()
z = input()
print((''.join(map(str,x))),(''.join(map(str,y))),(''.join(map(str,z))))

2
3
5
2 3 5

**Print the characters in a string separated by space.**

In [6]:
a=input()
print(' '.join(map(str,a)))

guvi
g u v i

**Print the float value separated by line.**

In [7]:
A,B,C = input().split(" ")
A = float(A)
B = float(B)
C = float(C)
print(A)
print(B)
print(C)

2.3 4.5 7.8
2.3
4.5
7.8

**Print the characters in a string separated by line.**

In [9]:
a=input()
print('\n'.join(map(str,a)))

guvi
g
u
v
i